<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";

const productStore = useProductStore();

onMounted(async () => {
  await productStore.GetProducts();
});
</script>
<template>
  <ProductDialog></ProductDialog>
  <VBtn @click="productStore.dialog = true">Add New</VBtn>
  <VTable>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of productStore.Products" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <VBtn class="mr-5" @click="productStore.editProduct(item)">Edit</VBtn
          ><VBtn @click="productStore.deleteProduct(item.id!)">Delete</VBtn>
        </td>
      </tr>
    </tbody>
  </VTable>
</template>
